.DS_Store

.vscode/

node_modules/

coverage/

logs/

dist/
types/

*.log
npm-debug.log*

*.tsbuildinfo

.npm

.eslintcache

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

*.tgz
